@import " bootstrap/dist/css/bootstrap.min.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ss-header {
  background-color: var(--bs-gray-600);
  width: 600px;
  border-radius: 10px 10px 0px 0px;
}
.dots {
  display: flex;
  margin-left: 10px;
}
.white-dots {
  height: 14px;
  width: 14px;
  display: block;
  margin-left: 11px;
  padding: 2px;
  border-radius: 50%;
  background-color: white;
}

/* 404 not found */

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}
.fof p {
  text-align: center;
}
@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
.card {
  border: none;
}
.main-grid-container {
  border: 1px solid rgba(202, 200, 200, 0.8);
  border-radius: 15px;
  padding: 20px;
}
.main-grid-container h1 {
  color: rgb(100, 7, 181);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(202, 200, 200, 0.8);
  padding: 20px;
  margin: 5px 5px;
  text-align: center;
}
